/*

!README.md
!alacritty
!lazygit
!nvim
!starship.toml
!tmux
!zellij

# Fish: only include common config
!fish

fish/*
!fish/conf.d
!fish/config.fish
!fish/fish_plugins.fish

fish/conf.d/*
!fish/conf.d/path.fish
!fish/conf.d/variables.fish

