/*

!README.md
!alacritty
!amethyst
!fish
!helix
!karabiner
!lazygit
!nix-darwin
!nvim
!starship.toml
!tmux
!wezterm
!zellij
!zsh
!zsh-abbr

karabiner/*
!karabiner/karabiner.json

zsh/*
!zsh/.zshenv
!zsh/.zshrc
!zsh/fresh-install.zsh
