/*

!README.md
!alacritty
!amethyst
!fish
!karabiner
!lazygit
!nvim
!starship.toml
!tmux
!wezterm
!zellij
!zsh
!zsh-abbr

fish/*
!fish/conf.d
!fish/config.fish
!fish/fish_plugins.fish

fish/conf.d/*
!fish/conf.d/path.fish
!fish/conf.d/variables.fish

karabiner/*
!karabiner/karabiner.json

zsh/*
!zsh/.zshenv
!zsh/.zshrc
!zsh/fresh-install.zsh
