default_layout "compact"
on_force_close "detach"
pane_frames false
simplified_ui true
scrollback_editor "nvim -u scrollback.lua"

theme "kanagawa"

keybinds clear-defaults=true {
    normal {
        bind "Ctrl b" { SwitchToMode "tmux"; }
    }

    renametab {
        bind "Ctrl c" { SwitchToMode "normal"; }
        bind "Enter" { SwitchToMode "normal"; }
        bind "Esc" { UndoRenameTab; SwitchToMode "tmux"; }
    }

    scroll {
        bind "/" { EditScrollback; SwitchToMode "Normal"; }
        bind "Ctrl b" "PageUp" "Left" "h" { PageScrollUp; }
        bind "Ctrl c" { ScrollToBottom; SwitchToMode "normal"; }
        bind "Ctrl f" "PageDown" "Right" "l" { PageScrollDown; }
        bind "d" { HalfPageScrollDown; }
        bind "e" { EditScrollback; SwitchToMode "normal"; }
        bind "j" { ScrollDown; }
        bind "k" { ScrollUp; }
        bind "q" { SwitchToMode "normal"; }
        bind "s" { SwitchToMode "EnterSearch"; SearchInput 0; }
        bind "u" { HalfPageScrollUp; }
    }

    tmux {
        bind "%" { NewPane "Right"; SwitchToMode "normal"; }
        bind "," { SwitchToMode "RenameTab"; }
        bind "-" { NewPane "Down"; SwitchToMode "normal"; }
        bind "/" { EditScrollback; SwitchToMode "Normal"; }
        bind "Ctrl b" { SwitchToMode "normal"; }
        bind "Enter" { SwitchToMode "normal"; }
        bind "Space" { NextSwapLayout; }
        bind "[" { SwitchToMode "scroll"; }
        bind "\"" { NewPane "Down"; SwitchToMode "normal"; }
        bind "c" { NewTab; SwitchToMode "normal"; }
        bind "h" { MoveFocus "Left"; }
        bind "j" { MoveFocus "Down"; }
        bind "k" { MoveFocus "Up"; }
        bind "l" { MoveFocus "Right"; }
        bind "n" { GoToNextTab; }
        bind "o" { FocusNextPane; }
        bind "p" { GoToPreviousTab; }
        bind "q" { Detach; }
        bind "x" { CloseFocus; SwitchToMode "normal"; }
        bind "z" { ToggleFocusFullscreen; SwitchToMode "normal"; }
        bind "|" { NewPane "Right"; SwitchToMode "normal"; }
    }

    shared_except "normal" {
        bind "Esc" { SwitchToMode "normal"; }
    }
}

plugins {
    // tab-bar { path "tab-bar"; }
    // status-bar { path "status-bar"; }
    // strider { path "strider"; }
    // compact-bar { path "compact-bar"; }
}

themes {
    kanagawa {
        fg "#DCD7BA"
        bg "#1F1F28"
        red "#C34043"
        green "#76946A"
        yellow "#FF9E3B"
        blue "#7E9CD8"
        magenta "#957FB8"
        orange "#FFA066"
        cyan "#7FB4CA"
        black "#16161D"
        white "#DCD7BA"
    }
}
